.syntaxhighlighter
{
    background-color: #586e75 !important;
}
.syntaxhighlighter .line .number
{
    color: white !important;
    background-color: #586e75 !important;
}
/* First line */
.syntaxhighlighter .line.alt1
{
    background-color: #586e75 !important;
}

/* Second line */
.syntaxhighlighter .line.alt2
{
    background-color: #586e75 !important;
}
