#title{
    width: 600px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

#title b {
    display: block;
    font-size: 80px;
    line-height: 90px;
}

#title blockquote{
    font-size: 25px;
    line-height: 21px;
}
